.endpoint-container {
    width: 90%;
    margin: auto auto;
}

.hidden {
    display: none!important;
}

.required {
    color: #ff3366;
}

.cursor {
    cursor: pointer;
}

.btn-sm {
    padding: 8px;
}

.btn-outline-warning:hover {
    color: #fff;
}

.sidebar-light .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #fff;
}

.sidebar-dark .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #0c1427;
}

.slim-scroll::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background-color: #919599;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #919599;
}

.trix-slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #b4b4b4;
}

.trix-slim-scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #919599;
}

.trix-slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #919599;
}

.form-data-unavailable {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 400px;
    /* background: rgba(255, 255, 255, 0.85); */
    top: 0;
    left: 0;
}

.form-data-unavailable i.fa {
    display: block !important;
    margin: auto !important;
}

.form-data-unavailable .inner-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.form-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.form-content-loader .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.form-content-loader i.fa {
    display: block !important;
    margin: auto !important;
}

.form-overlay-cover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff82;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.form-overlay-cover .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.upload-overlay-cover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.default-chat {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
}

.default-chat div {
    width: 100%;
    font-size: 13px;
    font-style: italic;
}

.upload-overlay-cover .upload-content {
    width: 100%;
    font-size: 14px;
    font-weight: bolder;
}

.absolute-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.absolute-content-loader .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.absolute-content-loader i.fa {
    display: block !important;
    margin: auto !important;
}

.populating-data {
    position: fixed;
    bottom: 15px!important;
    right: 20px;
    z-index: 99999;
}

.add_new-button {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 999;
}

@media (max-width:425px) {
    .add_new-button {
        bottom: 75px;
        right: 10px;
    }
}

@media (max-width:575.98px) {
    .add_new-button {
        bottom: 85px;
        right: 10px;
    }
}

@media (max-width:768px) {
    .add_new-button {
        bottom: 70px;
        right: 10px;
    }
}

@media (max-width:375px) {
    .add_new-button {
        bottom: 85px;
        right: 10px;
    }
}

.modal-dialog-right.left .modal-dialog,
.modal-dialog-right.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 600px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog-right.left .modal-content,
.modal-dialog-right.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.modal-dialog-right.right.fade .modal-dialog {
    right: 5px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-dialog-right.right.fade.in .modal-dialog {
    right: 0;
}

.sidebar-dark .modal .close {
    color: #fff!important;
}

.sidebar-dark .upload-overlay-cover,
.sidebar-dark .form-content-loader,
.sidebar-dark .form-overlay-cover,
.sidebar-dark .absolute-content-loader {
    background-color: #0a0e18de;
    /* #0a0e18ea; */
}

.sidebar-dark .file-preview .bg-inverse-primary {
    background-color: #050a14;
}

.sidebar-dark trix-toolbar .trix-button.trix-active {
    background: #fff!important;
    color: #050a14;
}

.sidebar-dark trix-toolbar .trix-button--icon {
    background: #fff;
    color: #fff!important;
}

.p-6 {
    padding: 60px;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 150px;
}

.email-body {
    max-height: 800px;
    overflow-y: auto;
}

.email-attachments .attachment-item {
    height: 150px;
    padding-top: 10px;
}

#repliesModal .replies-item .fullname:hover {
    text-decoration: underline;
}

#repliesModal .replies-item .replies-timestamp:hover {
    text-decoration: underline;
    cursor: pointer;
}

#repliesModal .replies-item img.user-image {
    width: 80px;
    height: 70px;
    border-radius: 6px;
}

#repliesModal .replies-item .attachments_list img {
    height: 158px;
    width: 100%;
}

#repliesModal .modal-header {
    background: #ccc;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

#repliesModal .modal-body {
    position: relative;
    width: 100%;
    top: 62px;
    padding: 0.937rem;
}

.sidebar-dark .toggle-reply-options {
    background: #050a14;
}

.sidebar-dark .toggle-reply-options:hover {
    background: #121e3b!important;
}

.sidebar-dark #repliesModal .modal-header {
    background: #050a14;
}

.sidebar-dark .bg-inverse-primary {
    background: #050a14;
}

.sidebar-light #repliesModal .replies-item:hover {
    background-color: #f8f8f8;
}

#repliesModal .replies-item .reply-options {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}

.toggle-reply-options {
    background: #f5eeee;
    padding: 6px!important;
    /* border: solid 1px #ccc; */
}

.toggle-reply-options:hover {
    background: #ffffff!important;
    color: #050a14;
    /* border: solid 1px #ccc; */
    padding: 6px!important;
}

.sidebar-dark #repliesModal .replies-item:hover {
    background-color: #050a14;
}

.no-option {
    display: none;
}

.dropdown-options {
    position: absolute;
    top: -10px;
    right: 6px;
    z-index: 19999;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    width: 300px;
    font-size: 0.8125rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #f8f8f8;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.dropdown-options .dropdown-item {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-options .dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
}

.sidebar-dark .dropdown-options {
    background-color: #0c1427;
}

.sidebar-dark .dropdown-options .dropdown-item:hover {
    background-color: #050a14;
    color: #fff;
}

.reply-options:hover {
    font-weight: bolder;
    color: #000;
}

.user-profile-container {
    margin: 16px;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
}

.user-profile-container img {
    border-radius: 6px;
    max-width: 236px;
    margin-bottom: 10px;
}

.user-profile-container .user-fullname {
    font-size: 23px;
    line-height: 1.33334;
    font-weight: 900;
    margin-bottom: 2px;
    font-family: cursive;
}

.user-profile-content .user-profile-label {
    font-size: 14px;
    font-weight: bolder;
}

.user-profile-content {
    margin-bottom: 10px;
}

.user-profile-content .user-profile-value {
    font-size: 16px;
    color: #0056b3;
}

.user-profile-link {
    font-weight: bold;
}

.sidebar-dark .user-profile-link {
    font-weight: bold;
    color: #0056b3;
}

.sidebar-dark .user-profile-link:hover {
    color: #fff;
}

.underline:hover,
.user-name-link:hover,
.user-profile-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.email-aside label {
    font-weight: bold;
}

.related-label {
    font-weight: bold;
}

.related-value {
    font-weight: normal;
}

.mt-6 {
    margin-top: 60px!important;
}

.upload-document-loader {
    margin-left: 10px;
    line-height: 35px;
}

.small-font {
    font-size: 12px;
}

.smaller-font {
    font-size: 10px;
}

.txt-10 {
    font-size: 10px;
}

.font-10px {
    font-size: 10px!important;
}

.font-12px {
    font-size: 12px!important;
}

.font-14px {
    font-size: 14px;
}

.font-16px {
    font-size: 16px;
}

.font-18px {
    font-size: 18px;
}

.leave-reply-wrapper {
    margin-top: 20px;
    width: 100%;
}

.ajax-data-form trix-editor {
    min-height: 150px;
    max-height: 230px;
}

.leave-comment-wrapper trix-editor {
    min-height: 120px;
    max-height: 150px;
}

.loading {
    background: #c1c39a;
    color: #303030;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    display: none;
    border-radius: 5px;
}

.nav-item .dropdown-menu .dropdown-body {
    max-height: 330px!important;
}

.message_list_day_divider_label {
    cursor: default;
    display: block;
    height: .1px;
    top: 14px;
    border: none;
    text-align: center;
    z-index: 298;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message_list_day_divider_label_pill {
    font-size: 13px;
    height: 28px;
    line-height: 17px;
    padding: 0 16px;
    z-index: 295;
    border: solid .3px #f4f4f4;
}

.message_list_day_divider_label_pill {
    background: #ffff;
    display: inline-block;
    z-index: 298;
    top: -13px;
    border-radius: 24px;
    position: relative;
}

.sidebar-dark .message_list_day_divider_label_pill {
    background-color: #0c1427;
    border: solid #262f43 1px;
    color: #fff;
}

.sidebar-dark .message_list_day_divider_label {
    border: none;
}

.profile-container_div {
    max-height: 500px;
    overflow-y: auto;
    padding: 0px 20px;
}

.user_resources_list {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.policy_item {
    padding: 10px;
}

.policy_item:hover {
    cursor: pointer;
    background: #f9fafb;
}

.sidebar-dark .policy_item:hover {
    background: #070d19;
    border-radius: 5px;
}

.blur {
    pointer-events: none;
    filter: blur(4px);
}

.close-quick-view {
    position: absolute;
    cursor: pointer;
    right: 2px;
    top: 2px;
    font-size: 18px;
}

.close-quick-view:hover {
    color: #bd1010c9;
}

.sidebar-dark .close-quick-view {
    color: #f4f4f4;
}

pre {
    box-shadow: 0px 1px 2px #f4f4f4;
}

.sidebar-dark pre {
    background-color: #0c1427;
    color: #fff;
}

.company-logo {
    width: 150px;
    border-radius: 5px;
}

.sidebar-folded .page-wrapper .navbar {
    width: calc(100% - 0px);
    left: 0px;
    right: 0;
}

.sidebar-folded .page-wrapper {
    width: calc(100% - 0px);
    margin-left: 0px;
}

@media (max-width: 1024px) {
    .sidebar-folded .page-wrapper .navbar {
        width: calc(100% - 70px);
        left: 70px;
        right: 0;
    }
    .sidebar-folded .page-wrapper {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}

@media (min-width: 1024px) {
    .sidebar-folded .page-wrapper .navbar {
        width: calc(100% - 70px);
        left: 70px;
        right: 0;
    }
    .sidebar-folded .page-wrapper {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}

@media (max-width: 768px) {
    .sidebar-folded .page-wrapper .navbar {
        width: calc(100% - 0px);
        left: 0px;
        right: 0;
    }
    .sidebar-folded .page-wrapper {
        width: calc(100% - 0px);
        margin-left: 0px;
    }
}

.profile_interaction_wrapper img.profile-image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.profile_interaction_wrapper .create-post-button {
    font-size: 16px;
}

#createPostModal trix-editor {
    min-height: 150px;
    max-height: 150px;
}

.post-attachment {
    padding: 20px;
    margin-top: 10px;
    border: dashed 1px #ccc;
}

.file-preview {
    max-height: 200px;
    padding: 10px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.marked-important {
    padding: 10px;
    border-radius: 50%;
}

.marked-important:hover {
    cursor: pointer;
    background: #f8f8f8;
}

.emails-content-listing {
    max-height: 500px;
    overflow-y: auto;
}

.email-notification {
    position: fixed;
    background: #fff;
    height: 50px;
    box-shadow: 1px 1px 1px 2px #ccc;
    border-radius: 7px;
    width: 320px;
    font-size: 15px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 15px;
    bottom: 15px!important;
    right: 20px;
    z-index: 99999;
}

.email-notification .fa-times-circle {
    padding: 8px;
    color: #7d7b7b;
}

.email-content-list-filter span:hover,
.email-notification .fa-times-circle:hover {
    background: #f4f4f4;
    cursor: pointer;
    border-radius: 50%;
}

#email-full-content-display span.favorited {
    padding: 8px;
    border-radius: 50%;
}

#email-full-content-display span.favorited:hover {
    background: #ccc;
}

#email-full-content-display span.favorited {
    padding: 8px;
    border-radius: 50%;
    color: #7d7b7b;
}

.email-content-list-filter span {
    padding: 10px;
    border-radius: 50%;
}

.sidebar-dark .email-notification {
    background-color: #0c1427;
    color: #fff;
}

.sidebar-dark div.tagsinput {
    background-color: #0c1427;
}

.sidebar-light div.tagsinput span.tag {
    border: 1px solid #fff;
    background: #ccc;
    color: #121e3b;
}

.sidebar-dark div.tagsinput span.tag {
    border: 1px solid #121e3b;
    background: #262f43;
    color: #eee;
}

div.tagsinput span.tag a {
    font-weight: 700;
    color: #82ad2b;
    text-decoration: none;
    font-size: 11px;
}

.sidebar-dark #email-full-content-display span.favorited:hover,
.sidebar-dark .email-content .favorited:hover,
.sidebar-dark .marked-important:hover,
.sidebar-dark .email-content-list-filter span:hover,
.sidebar-dark .email-notification .fa-times-circle:hover {
    background: #151d39;
}

@media (max-width: 768px) {
    .email-notification {
        width: 300px;
        right: 10px;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 10px;
    }
}

.list_suggestions {
    position: absolute;
    min-height: 75px;
    background: #fff;
    z-index: 999;
    width: 350px;
    top: 45px;
    left: 30px;
    padding-top: 7px;
    border-radius: 9px;
}

@media (max-width: 530px) {
    .list_suggestions {
        width: 270px;
        left: 10px;
        font-size: 14px;
    }
}

.list_suggestions .each-item {
    height: 60px;
    width: 100%;
    padding: 10px;
}

.list_suggestions .each-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list_suggestions .each-item:hover {
    cursor: pointer;
    background: #ececec;
}

.sidebar-dark .list_suggestions {
    background: #0c1323fc;
    box-shadow: 1px 1px 1px 2px #070d19;
}

.sidebar-dark .list_suggestions .each-item:hover {
    background: #070d19;
}

.discard-button {
    padding: 10px;
    border-radius: 50%;
}

.discard-button:hover {
    background: #f4f4f4;
    cursor: pointer;
}

.sidebar-dark .discard-button:hover {
    background: #070d19;
}

button.send-button {
    margin-right: 2px;
}

.email-attachment {
    height: 130px;
    cursor: pointer;
    border: dashed 1px #ccc;
}

.email-attachment-list {
    height: 200px;
    overflow-y: auto;
    max-height: 200px;
    border: dashed 1px #ccc;
}

.sidebar-light .announcement-item:hover .card-content {
    background: #fff9f9;
}

.sidebar-dark .announcement-item:hover .card-content {
    background: #070d19;
}

.announcement-item .message {
    height: 100px;
    max-height: 200px;
    overflow-y: hidden;
}

.attachment-container .file-options {
    position: absolute;
    right: 5px;
}

.attachment-container .attachment-item:hover .file-options {
    display: block!important;
}

.attachment-container .attachment-item {
    padding-top: 10px;
    max-height: 180px;
    overflow: hidden;
}

.sidebar-dark .message_list_day_divider_label {
    border: none;
    border: solid 0.5px #262f43;
    margin-bottom: 10px;
}

.sidebar-light .message_list_day_divider_label {
    border: none;
    border: solid 0.5px #727cf51a;
    margin-bottom: 10px;
}

.active-chat {
    background: #f8f8f8;
}

.sidebar-dark .active-chat {
    background: #070d19;
}

.sidebar-dark .default-chat {
    background: #070c18;
}

textarea#chat_input {
    border-radius: 20px!important;
    height: 60px!important;
}

#typing_notification {
    color: rgb(107, 110, 248);
}

.enter_tosend {
    width: 20px;
    height: 20px;
    line-height: 30px;
}

.modify-button {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.manager-picture {
    text-align: justify;
    margin-right: 10px;
    margin-bottom: 5px;
    max-width: 250px;
    border-radius: 5px;
}

#company_cover_image {
    max-height: 400px;
    overflow: hidden;
}

.payment-backdrop {
    position: fixed;
    z-index: 1140;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.payment-backdrop .payment-buttons {
    z-index: 1200!important;
    margin: auto auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
    max-width: 310px;
    font-size: .875rem;
}

.user_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-dark .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #18284e;
    opacity: 1;
}

.modal-dialog-top {
    box-shadow: 0px 1px 2px #000;
}